@import "../../bower_components/normalize.css/normalize.css";
@import "lib/base";

html {
	text-size-adjust: 100%;
	font-size: 100%;
	height: 100%;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	height: 100%;
}
* {
	margin: 0;
	outline: none;
}
*, *::after, *::before {
	box-sizing: border-box;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
button {
	border: none;
	outline: none;
	background: transparent;
	padding: 0;
}
a {
	text-decoration: none;
}
a[data-popup], a[data-scroll] {
	cursor: pointer;
}
body {
	background-color: $darkGrey;
	//background-image: url(../img/bg.jpg);
	background-size: cover;
	min-width: $min-width;
}
.wgrid {
	max-width: 1600px;
	margin: 0 auto;
}
.out {
	min-width: $min-width;
	position: relative;
	height: 100%;
}
.wrapper {
	max-width: 1600px;
	margin: 0 auto;
}
.backgrounded-rgrid {
	max-width: 662px;
	margin: 0 auto;
	position: absolute;
	right: 0;
	left: -42px;
	top: 0;
	bottom: 0;
	pointer-events: none;
	display: block;
	width: 100%;
	.backgrounded {
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		max-width: 662px;
		margin: 0 auto;
		@include clearfix;
		.column {
			display: block;
			float: left;
			width: 50%;
			border-left: 1px solid rgba(255,255,255,.1);
			height: 100%;
			&:last-child {
				border-right: 1px solid rgba(255,255,255,.1);
			}
		}
	}
}
.frame {
	position: fixed;
	@include clearfix;
	&.frame_top {
		top: 0;
		left: 0;
		right: 0;
		height: $h90;
	}
	&.frame_right {
		top: $h90;
		right: 0;
		bottom: $h90;
		width: $h90;
		font-size: 0;
		text-align: center;
		&::before {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			width: 0;
		}
	}
	&.frame_bottom {
		right: 0;
		bottom: 0;
		left: 0;
		height: $h90;
		padding-left: 39px;
	}
	&.frame_left {
		top: $h90;
		left: 0;
		bottom: $h90;
		width: $h90;
	}
}
.logo {
	font-family: $PragmaticaBlack;
	color: $white;
	font-size: 28px;
	text-transform: uppercase;
	line-height: $h90;
	float: left;
	padding: 0 39px;
	letter-spacing: 0.99px;
}
.humburger {
	width: $h90;
	height: $h90;
	float: right;
	span {
		display: inline-block;
		width: 32px;
		height: 20px;
		position: relative;
		&::after {
			content: '';
			height: 4px;
			background-color: $white;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			transform: translateY(0);
			transition: transform 0.3s ease;
		}
		&::before {
			content: '';
			height: 4px;
			background-color: $white;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			transform: translateY(0);
			transition: transform 0.3s ease;
		}
	}
	&:hover {
		span {
			&::after {
				transform: translateY(-3px);
			}
			&::before {
				transform: translateY(3px);
			}
		}
	}
}
.developers {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: $h90;
	font-size: 12px;
	transform: translateZ(0);
	a {
		font-family: $PragmaticaBook;
		font-size: 12px;
		transform: rotate(-90deg);
		position: absolute;
		color: $white;
		text-transform: uppercase;
		letter-spacing: 3.99px;
		top: -47px;
		left: -48px;
		line-height: $h90;
		color: rgba(255,255,255,.5);
		transition: color 0.3s ease;
		span {
			color: rgba(255,255,255,.5);
			transition: color 0.3s ease;
		}
		&:hover {
			color: $white;
			span {
				color: $red;
			}
		}
	}
}
.copyright {
	font-family: $PragmaticaBook;
	font-size: 12px;
	color: rgba(255,255,255,0.5);
	line-height: $h90;
	text-transform: uppercase;
	letter-spacing: 3.69px;
	float: left;
}
.shared {
	width: $h90;
	height: $h90;
	float: right;
	position: relative;
	transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
	.shared-active-item {
		width: $h90;
		height: $h90;
		text-align: center;
		cursor: default;
	}
	.shared-icon-social {
		width: 22px;
		height: 22px;
		position: absolute;	
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		.icon {
			width: 22px;
			height: 22px;
			display: block;
			path {
				fill: rgba(255,255,255,.5);
				transition: fill 0.3s ease;
			}
		}
	}
	.shared-list {
		position: absolute;
		bottom: 70px;
		width: 100%;
		right: 0;
		.shared-list_item {
			width: $h90;
			height: 45px;
			position: relative;
			display: block;			
			transform: translate(100%, 0);
			transition: 0.5s $ease-in-out-back;
			&:nth-child(2) {
				transition-delay: 0.1s;
			}
			&:nth-child(3) {
				transition-delay: 0.2s;
			}
			&:hover {
				.icon {
					path {
						fill: $white;
					}
				}
			}
		}
	}
	&:hover {
		.shared-active-item {
			.shared-icon-social {
				.icon {
					path {
						fill: $white;
					}
				}
			}
		}
		.shared-list_item {
			transform: translate(0,0);
		}
	}
}
.navigation {
	position: fixed;
	background-color: rgba(0,0,0,.75);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.4s linear;
	padding: 20px 0;
	font-size: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	&::before {
		content: '';
		width: 0;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
	&.inner-nav {
		opacity: 1;
		visibility: visible;
		.navigation__container {
			transform: translateY(0);
			opacity: 1;
			&::after {
				background-position: 50% 50%;
			}
		}
	}
	.navigation__container {
		width: 100%;
		padding: 146px 0;
		background-color: $darkGrey;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		opacity: 0;
		transform: translateY(-20%);
		transition: transform 0.4s linear, opacity 0.4s linear;
		transition-delay: 0.4s;
		overflow: hidden;
		&::after {
			content: '';
			position: absolute;
			background-image: url(../img/background.jpg);
			background-position: 50% 35%;
			background-size: cover;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.25;
			transition: background-position 0.4s linear;
			transition-delay: 0.4s;
			z-index: 0;
		}
		&::before {
			content: 'PRESTIGE';
			font-family: $PragmaticaCondensedBlack;
			font-size: 200px;
			letter-spacing: 40px;
			color: rgba(255, 255, 255, 0.05);
			position: absolute;
			top: 45%;
			left: 51%;
			transform: translate(-50%,-50%);
			z-index: 1;
			cursor: default;
			@include r(1280) {
				font-size: 145px;
			}
		}
	}
	.lang {
		position: absolute;
		right: 23px;
		top: 43px;
		z-index: 3;
		.lang-item {
			font-family: $PragmaticaBook;
			font-size: 12px;
			color: rgba(255,255,255,.5);
			text-transform: uppercase;
			display: inline-block;
			padding: 10px 18px;
			transition: color 0.3s ease;
			letter-spacing: 2.99px;
			&.active {
				color: $white;
			}
			&:hover {
				color: $red;
			}
		}
	}
	.close {
		position: absolute;
		top: 44px;
		left: 48.3%;
		z-index: 3;
		text-align: center;
		cursor: pointer;
		.menu {
			width: 33px;
			height: 33px;
			display: inline-block;
			position: relative;
			margin-bottom: 11px;
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: rgba(255,255,255,0.5);
				margin-top: -1px;
				transform: rotate(45deg);
				transition: all 0.5s ease;
			}
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: rgba(255,255,255,0.5);
				margin-top: -1px;
				transform: rotate(-45deg);
				transition: all 0.5s ease;
			}
		}
		.text {
			font-family: $PragmaticaBook;
			font-size: 12px;
			text-transform: uppercase;
			color: rgba(255,255,255,.5);
			letter-spacing: 3.6px;
			display: block;
			width: 100%;
			transition: color 0.5s ease;
		}
		&:hover {
			.text {
				color: $white;
			}
			.menu {
				&::after, &::before {
					background-color: $white;
					transform: rotate(0);
				}
			}
		}
	}
	.wgrid {
		max-width: 1492px;
		padding: 0 30px;
		@include r(1280) {
			padding: 0 12px;
		}
	}
}
.wgrid {
	position: relative;
	z-index: 3;
	.row {
		display: block;
		position: relative;
		width: 100%;
		z-index: 4px;
		@include clearfix;
		.column {
			width: 12.72%;
			float: left;
			display: block;
			@include r(1400) {
				width: 12.5%;
			}
			@include r(1150) {
				width: 10.5%;
			}
			&:nth-child(2) {
				width: 19%;
				@include r(1150) {
					width: 18%;
				}
			}
			&:nth-child(3) {
				width: 18.05%;
			}
			&:nth-child(4) {
				width: 13.75%;
				@include r(1400) {
					width: 13.65%;
				}
				@include r(1150) {
					width: 15.5%;
				}
			}
			&:nth-child(5) {
				width: 20.5%;
				@include r(1400) {
					width: 20%;
				}
			}
			&:nth-child(6) {
				width: 15.8%;
				@include r(1400) {
					width: 16.8%;
				}
			}
			& > ul {
				& > li {
					margin-top: 144px;
					margin-bottom: 20px;
					@include r(1280) {
						margin-top: 75px;
					}
					&.active {
						a {
							color: $red;
							&::before {
								content: '';
								width: 2px;
								height: 57px;
								background-color: $red;
								position: absolute;
								top: -130px;
								left: 50%;
								margin-left: -6px;
								@include r(1280) {
									height: 40px;
									top: -75px;
								}
							}
						}
					}
					a {
						font-family: $PragmaticaBold;
						font-size: 30px;
						color: $white;
						letter-spacing: 5.99px;
						text-transform: uppercase;
						transition: color 0.3s ease;
						position: relative;
						@include r(1400) {
							font-size: 24px;
						}
						@include r(1150) {
								font-size: 20px;
							}
						&:hover, &.active {
							color: $red;
						}
					}
				}
				ul {
					li {
						a {
							font-family: $PragmaticaBook;
							font-size: 14px;
							color: $white;
							text-transform: uppercase;
							letter-spacing: 2.79px;
							padding: 9px 0 11px;
							display: inline-block;
							line-height: 2;
							transform: translate3d(0px, 0px, 0px);
							transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
							position: relative;
							padding-right: 10px;
							@include r(1400) {
								font-size: 12px;
							}
							@include r(1150) {
								font-size: 10px;
							}
							&::before {
								background-color: $red;
								content: "";
								height: 2px;
								left: 0;
								position: absolute;
								top: 0;
								transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
								width: 0;
								pointer-events: none;
							}
							&::after {
								bottom: 0;
								content: "";
								left: 0;
								position: absolute;
								top: 0;
								right: 0;
								width: 100%;
							}
							&:hover {
								color: $red;
								transform: translate3d(0px, 15px, 0px);
								@include r(1150) {
									transform: translate3d(0px, 10px, 0px);
								}
								&::before {
									width: 30px;
									@include r(1150) {
										width: 20px;
									}
								}
								&::after {
									top: -15px;
									@include r(1150) {
										top: -10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.media {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
	.media-item {
		width: 57px;
		height: 37px;
		display: block;
		position: relative;
		float: left;
		.media-item_icon {
			width: 20px;
			height: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			.icon {
				width: 22px;
				height: 22px;
				display: block;
				path {
					fill: rgba(255,255,255,.5);
					transition: fill 0.3s ease;
				}
			}
		}
		&:hover {
			.media-item_icon {
				.icon {
					path {
						fill: $white;
					}
				}
			}
		}
	}
}
.footer {
	min-height: 718px;
	background-image: url(../img/bg/map.png);
	background-position: center top;
	background-repeat: no-repeat;
	.link-case {
		float: left;
		width: 77.6%;
		text-align: right;
		margin-top: 101px;
	}
}
.block-address {
	position: relative;
	width: 51.2%;
	float: right;
	margin-top: 101px;
	&.contact {
		margin-top: 81px;
		width: 68.3%;
	}
	.block-address_title {
		font-family: $PragmaticaBlack;
		font-size: 18px;
		color: $white;
		text-transform: uppercase;
		letter-spacing: 3.4px;
		margin-bottom: 19px;
	}
	.block-address_container {
		p {
			font-family: $PragmaticaBook;
			font-size: 14px;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 2.75px;
			margin-bottom: 11px;
		}
	}
	.dash-list {
		position: relative;
		li {
			font-family: $PragmaticaBold;
			font-size: 24px;
			color: $white;
			text-transform: uppercase;
			padding-left: 59px;
			letter-spacing: 4.89px;
			margin-bottom: 27px;
			position: relative;
			&::before {
				content: '';
				width: 32px;
				height: 1px;
				background-color: $white;
				position: absolute;
				left: 1px;
				top: 15px;
			}
			a {
				color: $white;
			}
		}
	}
}
.link-dash {
	font-family: $PragmaticaBlack;
	font-size: 16px;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 5px 0;
	position: relative;
	transition: color 0.3s ease;
	&::after {
		content: '';
		width: 100%;
		height: 2px;
		background-color: $red;
		position: absolute;
		left: 0;
		top: 100%;
		transition: top 0.3s ease;
	}
	&:hover {
		color: $red;
		&::after {
			top: 0;
		}
	}
}