<!doctype html>
<html>
	<title></title>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=1024">
	<link rel="stylesheet" href="css/screen.css">
	<script src="js/common.js"></script>
</head>
<body>
<div class="out">
	<div class="frame frame_top">
		<a href="/" class="logo">Prestige</a>
		<button class="humburger" type="button"><span></span></button>
	</div>
	<div class="frame frame_right">
		<div class="developers">
			<a href="">made&nbsp;in&nbsp;<span>flexmedia</span></a>
		</div>
	</div>
	<div class="frame frame_bottom">
		<div class="copyright">© Fabrique Prestige</div>
	</div>
	<div class="frame frame_left"></div>
</div>

</body>
</html>